
html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: white;
  color: #5B5F97;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  font-weight: 600;

}

.animate {
  background-color: white;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color:#08f7fe;}
  10%  {background-color: #fe53bb;}
  20%  {background-color: #09fbd3;}
  30% {background-color: #f5d300;}
  40%   {background-color:#08f7fe;}
  50%  {background-color: #fe53bb;}
  60%  {background-color: #09fbd3;}
  70% {background-color: #f5d300;}
  80%   {background-color:#08f7fe;}
  90%  {background-color: #fe53bb;}
  100%  {background-color: #09fbd3;}
}

footer {
  height: 20%;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: #FF6B6C
}

p {
  font-size: 300%;
}

.indexdiv { 
  height: 12%;
  font-size: 3vw;
}

.ringdiv {
  height: 20%;
}

.mooddiv { 
  height: 12%
}

.gifdiv {
  height: 35%;
}
.gifimage {
 height: 100%;

}
.button {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 70%;
  border: 5px cadetblue;
  background-color: #5B5F97;
  text-decoration: none;
  font-weight: 800;
  height: 70%;
  font-size: 225%;
  width: 95%;
}

.again {
  font-size: 125%
}
.ringpic {
  height: 100%;
}
.sentence {
  font-size: 175%;
  padding: 0 8%; 
}
.yourMood {
  font-size: 300%;
  font-weight: 800;
  color: #FF6B6C;
}
.indexp {
  font-size: 200%;
}

.again {
  font-size: 150%;
  width: inherit;
}
#title  {
  font-weight: 800;
  color:#FF6B6C;
  font-size: 4vw;
}


#getmood {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  
}
#bigring {
  height: 100%;
}

#ring {
  height: 25%;

}
#mainringdiv {
  height: 45%;
}
#nextlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#start2 {
  font-size: 250%;
  height: 50%;
}

@media only screen and (min-width: 981px) {
  .ringdiv {
    font-size: 200%;
    margin: 0 5%;
  }
  .button {
    width: 70%;
  }
  .indexdiv {
    font-size: 2vw
  }
  #bigring {
    height: 90%;
  }
  .mooddiv {
    font-size: 225%
  }
}

@media only screen and (min-width: 1100px){
  .indexdiv {
    height: 15%;
  }
    #title {
      margin-top: 2%;
      font-size: 3vw;
   }
   #location {
     height: 70%;
     font-size: 175%;
   }
   #start {
     height: 70%;
     font-size: 175%
   }
   #ring {
     height: 30%
   }
   .sent {
     font-size: 170%
   }
   #start2 {
     height: 65%;
     font-size: 200%
   }
   .mooddiv {
    font-size: 175%
  }
  }



